# Amy Hatman
# Weeks 11 and 12 Exercises
# March 2, 2024Â¶

## Activity 11: Retrieving Data Correctly from Databases

In [1]:
# importing needed package
import sqlite3

### 1. Connect to petsDB and check whether the connection has been successful.

In [2]:
connection = sqlite3.connect("petsdb")

In [3]:
# function to test that the connection was successful. It executes the connection
# if it is able to execute it returns TRUE
# if the connection is closed, it returns FALSE
def opened(connection):
    try:
        connection.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [4]:
# did the connection work?
opened(connection)

True

We received a True so the connection was successful!

### 2. Find the different age groups in the persons database.

In [5]:
# creating my cursor
cursor = connection.cursor()

In [6]:
# this executes a query to display the count for each age group
for ppl, age in cursor.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are {} people aged {}".format(ppl, age))

There are 2 people aged 5
There are 1 people aged 6
There are 1 people aged 7
There are 3 people aged 8
There are 1 people aged 9
There are 2 people aged 11
There are 3 people aged 12
There are 1 people aged 13
There are 4 people aged 14
There are 2 people aged 16
There are 2 people aged 17
There are 3 people aged 18
There are 1 people aged 19
There are 3 people aged 22
There are 2 people aged 23
There are 3 people aged 24
There are 2 people aged 25
There are 1 people aged 27
There are 1 people aged 30
There are 3 people aged 31
There are 1 people aged 32
There are 1 people aged 33
There are 2 people aged 34
There are 3 people aged 35
There are 3 people aged 36
There are 1 people aged 37
There are 2 people aged 39
There are 1 people aged 40
There are 1 people aged 42
There are 2 people aged 44
There are 2 people aged 48
There are 1 people aged 49
There are 1 people aged 50
There are 2 people aged 51
There are 2 people aged 52
There are 2 people aged 53
There are 2 people aged 54
There are 1 people aged 58
There are 1 people aged 59
There are 1 people aged 60
There are 1 people aged 61
There are 2 people aged 62
There are 1 people aged 63
There are 2 people aged 65
There are 2 people aged 66
There are 1 people aged 67
There are 3 people aged 68
There are 1 people aged 69
There are 1 people aged 70
There are 4 people aged 71
There are 1 people aged 72
There are 5 people aged 73
There are 3 people aged 74

### 3. Find the age group that has the maximum number of people.

In [7]:
# this again counts the number per age group and then sorts it with largest group
for count_ppl, age in cursor.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("There are more people aged {} with a count of {}.".format(age, count_ppl))
    break

There are more people aged 73 with a count of 5.

### 4. Find the people who do not have a last name.

In [8]:
# This loops through adn counts the number of last_names which are Null
for count in connection.execute("SELECT count(*) FROM persons WHERE last_name IS null"):
    print('There are {} people with no last name.'.format(count[0]))

There are 60 people with no last name.

### 5. Find out how many people have more than one pet.

In [9]:
# this loops through and counts the number of people with more than one pet
for count in connection.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)"):
    print("There are {} people with more than one pet.".format(count[0]))

There are 43 people with more than one pet.

### 6. Find out how many pets have received treatment.

In [10]:
# this loops through and counts the number of pets who have received treatment
for count in connection.execute("SELECT count(*) FROM pets WHERE treatment_done=1"):
    print("There are {} pets who have received treatment.".format(count[0]))

There are 36 pets who have received treatment.

### 7. Find out how many pets have received treatment and the type of pet is known.

In [11]:
# this loops through and counts the number of pets who have a type and have received treatment
for count in connection.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null"):
    print("There are {} pets that have received treatment and the type is also known.".format(count[0]))

There are 16 pets that have received treatment and the type is also known.

### 8. Find out how many pets are from the city called east port.

In [12]:
# this loops through and counts the number of pets win the city east port
for count in connection.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'"):
    print("There are {} pets from East Port.".format(count[0]))

There are 49 pets from East Port.

### 9. Find out how many pets are from the city called east port and who received a treatment.

In [13]:
# this loops through and counts the number of pets who received treatment and are from east port
for count in connection.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1"):
    print("There are {} pets from East Port that received treatment.".format(count[0]))

There are 11 pets from East Port that received treatment.